%p#notice= notice

%p
  %b Title:
  = @blog_link.title
%p
  %b Author:
  = @blog_link.author
%p
  %b Introduction:
  = @blog_link.introduction
%p
  %b Url:
  = @blog_link.url
%p
  %b Position:
  = @blog_link.position
%p
  %b Draft:
  = @blog_link.draft
%p
  %b Deleted at:
  = @blog_link.deleted_at

= link_to 'Edit', edit_blog_link_path(@blog_link)
\|
= link_to 'Back', blog_links_path
