- model_class = BlogCategory
= form_tag action: :update_all do
  %table.table.table-striped
    - @blog_categories.each do |category|
      %tr
        = fields_for "blog_category[]", category do |f|
          %td= f.text_field :name
          %td
            = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_blog_category_path(category), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

  %table
    %tr
      %td.add_blog_category= I18n.t("actions.add")

  = submit_tag I18n.t("actions.update"), class: "btn"
