.well
  %h4
    = image_tag icon, class: "icon"
    = t("side_menu.blog_links")
  %ul.list-unstyled
    - @blog_links.each do |link|
      %li
        %a{href: "#{link.url}", target: "_blank", rel: "tooltip", "data-original-title" => "#{link.author}#{I18n.t("blog_link.prefix")}：#{link.introduction}", "data-placement" => "left"}= link.title
