.well
  %h4
    = image_tag icon, class: "icon"
    = t("side_menu.mail_form")

  %a{name: "mail_form"}
  =# bootstrap_flash

  - @mail_form = MailForm.new
  #mail-form-messages
  = form_for :mail_form, html: { class: "form-vertical" }, url: mail_forms_path, remote: true do |f|
    .form-group
      = f.text_area :content, class: "form-control", rows: "4"
    .form-group
      = f.submit class: "btn btn-default"
