%h1 Listing blogs

%table
  %tr
    %th Title
    %th Blog category code
    %th Contents1
    %th Contents2
    %th Draft
    %th Deleted at
    %th
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= blog.title
      %td= blog.blog_category_code
      %td= blog.contents1
      %td= blog.contents2
      %td= blog.draft
      %td= blog.deleted_at
      %td= link_to 'Show', blog
      %td= link_to 'Edit', edit_blog_path(blog)
      %td= link_to 'Destroy', blog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Blog', new_blog_path
