.well
  = paginate @blogs
  %table.table
    = render partial: @blogs, spacer_template: "separator"

- content_for :sidebar do
  = render "home/profile"
  = render "blogs/recent_blogs"
  = render "blogs/recent_blog_comments"
  = render "blogs/blog_links"
  = render "blogs/mail_form"
