- model_class = Priority
= form_tag action: :update_all do
  %table.table.table-striped
    - @priorities.each do |priority|
      %tr
        = fields_for "priority[]", priority do |f|
          %td= f.text_field :name
          %td
            = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_priority_path(priority), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

  %table
    %tr
      %td.add_priority= I18n.t("actions.add")

  = submit_tag I18n.t("actions.update"), class: "btn"
