- model_class = Version.new.class
= form_tag action: :update_all do
  %table.table
    - unless @versions.blank?
      %tr
        %th= model_class.human_attribute_name(:current)
        %th= model_class.human_attribute_name(:name)
      - @versions.each do |version|
        %tr
          %td= radio_button :version, "current", version.id, checked: version.current
          = fields_for "version[]", version do |f|
            %td= f.text_field :name
            %td.delete_version= link_to I18n.t("actions.destroy"), admin_version_path(version.id), method: :delete, class: "btn"
  %table
    %tr
      %td.add_version= I18n.t("actions.add")

  = submit_tag I18n.t("actions.update"), class: "btn"
