- model_class = BlogLink.new.class
= form_tag action: :update_all do
  %table.table.nonborder
    - unless @blog_links.blank?
      %tr
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:url)
      - @blog_links.each do |blog_link|
        %tr
          = fields_for "blog_link[]", blog_link do |f|
            %td= f.text_field :title, class: "form-control"
            %td= f.text_field :url, class: "form-control"
            %td.update_blog_link= link_to I18n.t("actions.edit_detail"), edit_admin_blog_link_path(blog_link.id), class: "btn btn-default"
            %td.delete_blog_link= link_to I18n.t("actions.destroy"), admin_blog_link_path(blog_link.id), method: :delete, class: "btn btn-default"

  .add_blog_link.btn.btn-default= I18n.t("actions.add")
  = submit_tag I18n.t("actions.update"), class: "btn btn-default"
