.condition-toggle.btn.btn-default= t("admin_ticket.condition")

%br
%br
.condition-case
  %form.form-horizontal
    .form-group
      .col-sm-2
        = check_box_tag :project_id
        = label_tag :project_id, Ticket.human_attribute_name(:project_id), for: "project_id"
      .col-sm-4
        = select_tag :project_id, options_from_collection_for_select(@projects, :id, :title), class: "form-control"
    .form-group
      .col-sm-2
        = check_box_tag :status_id
        = label_tag :status_id, Ticket.human_attribute_name(:status_id), for: "status_id"
      .col-sm-4
        = select_tag :status_id, options_from_collection_for_select(@statuses, :id, :name), class: "form-control"
    .form-group
      .col-sm-2
        = check_box_tag :priority_id
        = label_tag :priority_id, Ticket.human_attribute_name(:priority_id), for: "priority_id"
      .col-sm-4
        = select_tag :priority_id, options_from_collection_for_select(@priorities, :id, :name), class: "form-control"
    .form-group
      .col-sm-2
        = check_box_tag :tracker_id
        = label_tag :tracker_id, Ticket.human_attribute_name(:tracker_id), for: "tracker_id"
      .col-sm-4
        = select_tag :tracker_id, options_from_collection_for_select(@trackers, :id, :name), class: "form-control"
    .form-group
      .col-sm-2
        = check_box_tag :version_id
        = label_tag :version_id, Ticket.human_attribute_name(:version_id), for: "version_id"
      .col-sm-4
        = select_tag :version_id, options_from_collection_for_select(@versions, :id, :name), class: "form-control"
