- model_class = Ticket
%table.table.nonborder
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:tracker_id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:priority_id)
      %th= model_class.human_attribute_name(:status_id)
      %th= model_class.human_attribute_name(:version_id)
      %th= model_class.human_attribute_name(:progress)
  %tbody
    - items.each do |ticket|
      %tr
        %td= link_to "#" + ticket.id.to_s, admin_ticket_path(ticket)
        %td= ticket.tracker.name
        %td= link_to ticket.title, admin_ticket_path(ticket)
        %td= ticket.priority.name
        %td= ticket.status.name
        %td= ticket.version.name
        %td= ticket.progress
= paginate items
