- model_class = Ticket
%ul.nav.nav-tabs#tickets_tab
  %li= link_to "all", "#all", "data-toggle" => "tab"
  %li= link_to "unfinish", "#unfinish", anchor: "unfinish", "data-toggle" => "tab"
  %li= link_to "finished", "#finished", anchor: "finished", "data-toggle" => "tab"

.tab-content
  .tab-pane#all
    = render partial: "all_tickets"
  .tab-pane#unfinish
    = render partial: "unfinish_tickets"
  .tab-pane#finished
    = render partial: "finished_tickets"

= link_to t('.new', :default => t("helpers.links.new")), new_admin_ticket_path, :class => 'btn btn-primary'
