- model_class = Tracker
= form_tag action: :update_all do
  %table.table.nonborder
    - @trackers.each do |tracker|
      %tr
        = fields_for "tracker[]", tracker do |f|
          %td= f.text_field :name, class: "form-control"
          %td
            = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_tracker_path(tracker), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-default'

  .add_tracker.btn.btn-default= I18n.t("actions.add")
  = submit_tag I18n.t("actions.update"), class: "btn btn-default"
