- model_class = Status
= form_tag action: :update_all do
  %table.table.table-striped
    - @statuses.each do |status|
      %tr
        = fields_for "status[]", status do |f|
          %td= f.text_field :name
          %td
            = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_status_path(status), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

  %table
    %tr
      %td.add_status= I18n.t("actions.add")

  = submit_tag I18n.t("actions.update"), class: "btn"
