- model_class = Tracker
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:position)
      %th= model_class.human_attribute_name(:deleted_at)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @trackers.each do |tracker|
      %tr
        %td= link_to tracker.id, tracker_path(tracker)
        %td= tracker.name
        %td= tracker.position
        %td= tracker.deleted_at
        %td=l tracker.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_tracker_path(tracker), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), tracker_path(tracker), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_tracker_path, :class => 'btn btn-primary'
