- model_class = Tracker
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @tracker.name
%p
  %strong= model_class.human_attribute_name(:position) + ':'
  %br
  = @tracker.position
%p
  %strong= model_class.human_attribute_name(:deleted_at) + ':'
  %br
  = @tracker.deleted_at

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), trackers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_tracker_path(@tracker), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), tracker_path(@tracker), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
