= render partial: "error_messages", locals: {errors: @blog.errors} if @blog.errors.any?

= form_for ['admin', @blog], html: {class: "form-horizontal"} do |f|
  .control-group
    = f.label :created_at, class: "control-label"
    .controls
      = f.datetime_select :created_at, datetime_separator: "  ", include_seconds: true, use_month_numbers: true, class: "date_time"
  .control-group
    = f.label :title, class: "control-label"
    .controls
      = f.text_field :title
  .control-group
    = f.label :contents1, class: "control-label"
    .controls
      = f.text_area :contents1, class: "span5", rows: "4"
  .control-group
    = f.label :contents2, class: "control-label"
    .controls
      = f.text_area :contents2, class: "span5", rows: "8"
  .control-group
    .controls
      = f.submit class: "btn"
