=# render partial: "error_messages", locals: {errors: @blog.errors} if @blog.errors.any?

= form_for ['admin', @blog], html: { role: "form" } do |f|
  .form-group
    = f.label :posted_at, class: "control-label"
    = asterisk(@blog, :posted_at)
    .form-controls-datetime
      = f.datetime_select :posted_at, datetime_separator: "　　", include_seconds: true, use_month_numbers: true
  .form-group
    = f.label :title, class: "control-label"
    = asterisk(@blog, :title)
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :contents1, class: "control-label"
    = asterisk(@blog, :contents1)
    = f.text_area :contents1, class: "form-control", rows: "8"
  .form-group
    = f.label :contents2, class: "control-label"
    = asterisk(@blog, :contents2)
    = f.text_area :contents2, class: "form-control", rows: "16"
  .form-group
    = f.submit class: "btn btn-default"
    = f.submit I18n.t("actions.draft"), class: "btn btn-default"
