- model_class = Blog.new.class
= paginate @blogs
%table.table
  %tr
    %th= model_class.human_attribute_name(:posted_at)
    %th= model_class.human_attribute_name(:title)
    %th= model_class.human_attribute_name(:draft)
    %th= t "helpers.actions"
  - @blogs.each do |blog|
    %tr
      %td.post_at= l blog.posted_at
      %td= link_to blog.title, blog_path(blog.id)
      %td= blog.draft
      %td= link_to t("actions.edit"), edit_admin_blog_path(blog), class: "btn btn-mini"
      %td= link_to t("actions.destroy"), admin_blog_path(blog.id), class: "btn btn-mini", method: :delete
= paginate @blogs
