%li= link_to t("admin_menu.new_blog"), new_admin_blog_path
%li= link_to t("admin_menu.blogs"), admin_blogs_path
%li= link_to t("admin_menu.blog_comments"), admin_blog_comments_path
%li= link_to t("admin_menu.blog_links"), admin_blog_links_path
%li= link_to t("admin_menu.mail_forms"), admin_mail_forms_path
