.blog_comment
  %table.table.nonborder.well-comment
    - if blog_comment.admin
      %tr
        %td= t("blog_comment.admin")
        %td.text-align-right= l blog_comment.created_at
    - else
      %tr
        %th
          = blog_comment.title unless blog_comment.title.blank?
        %td.text-align-right= l blog_comment.created_at
      %tr
        %td(colspan=2)= blog_comment.author if blog_comment.author.present?
      %tr
        %td(colspan=2)= to_skip(blog_comment.content).html_safe
      %tr
        %td.text-align-right(colspan=2)= link_to_unless(blog_comment.url.blank?, I18n.t("blog_comment.url"), blog_comment.url, target: "_blank")
