#messages
.form-group
  = f.label :title, class: "control-label col-sm-2"
  = asterisk(@blog_comment, :title)
  .col-sm-8
    = f.text_field :title, class: "form-control"
.form-group
  = f.label :url, class: "control-label col-sm-2"
  = asterisk(@blog_comment, :url)
  .col-sm-8
    = f.text_field :url, class: "form-control"
.form-group
  = f.label :mail, class: "control-label col-sm-2"
  = asterisk(@blog_comment, :mail)
  .col-sm-8
    = f.text_field :mail, class: "form-control"
.form-group
  = f.label :author, class: "control-label col-sm-2"
  = asterisk(@blog_comment, :author)
  .col-sm-8
    = f.text_field :author, class: "form-control"
.form-group
  = f.label :content, class: "control-label col-sm-2"
  = asterisk(@blog_comment, :content)
  .col-sm-8
    = f.text_area :content, class: "form-control", rows: "5"
.form-group
  = f.label :password, class: "control-label col-sm-2"
  = asterisk(@blog_comment, :password)
  .col-sm-8
    = f.password_field :password, class: "form-control"
.form-group
  .col-sm-2
    = asterisk(@blog_comment, :admin)
  .col-sm-8
    = f.check_box :admin
    = f.label :admin
.form-group
  .col-sm-2
  .col-sm-8
    = f.submit class: "btn btn-default", data: {:disable_with => "Sending..."}
