%p#notice= notice

%p
  %b Blog:
  = @blog_comment.blog_id
%p
  %b Title:
  = @blog_comment.title
%p
  %b Author:
  = @blog_comment.author
%p
  %b Content:
  = @blog_comment.content
%p
  %b Url:
  = @blog_comment.url
%p
  %b Mail:
  = @blog_comment.mail
%p
  %b Ip:
  = @blog_comment.ip
%p
  %b Host:
  = @blog_comment.host
%p
  %b Password:
  = @blog_comment.password
%p
  %b Salt:
  = @blog_comment.salt
%p
  %b Admin:
  = @blog_comment.admin
%p
  %b Mixi:
  = @blog_comment.mixi
%p
  %b Draft:
  = @blog_comment.draft

= link_to 'Edit', edit_blog_comment_path(@blog_comment)
\|
= link_to 'Back', blog_comments_path
