.navbar.navbar-fixed-top
  .navbar-inner
    %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .container
      = link_to t("brand"), root_path, class: "brand"
      .container.nav-collapse
        %ul.nav
          %li.menu.home= link_to t("menu.home"), root_path
          %li.menu.blog= link_to t("menu.blog"), blogs_path
          - if current_user and current_user.admin
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = I18n.t("menu.admin")
                %span.caret
              %ul.dropdown-menu
                %li= link_to t("menu.admin_blog"), new_admin_blog_path
                %li= link_to t("menu.admin_ticket"), admin_tickets_path
                %li= link_to t("menu.admin_setting"), admin_versions_path

        %ul.nav.pull-right
          - if current_user
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#dropdown_menu"}
                = I18n.t("account.my_account")
                %span.caret
              %ul.dropdown-menu
                %li= link_to t("account.profile"), "#"
                - unless current_user.provider == "twitter"
                  - if current_user.registered_twitter?
                    %li= link_to t("account.twitter") + " - " + t("account.registered"), disconnect_omniauth_provider_path(provider: "twitter"), method: :delete
                  - else
                    %li= link_to t("account.twitter") + " - " + t("account.non_registered"), "#"
            %li= link_to t("actions.logout"), destroy_user_session_path, method: :delete
